html, body {
  height: 100%;
  margin: 10px 20px;
  background-color: #d6450e!important;
  color: white!important;
  font-family: 'Cardo', serif !important;
  font-size: 16px !important;
  margin-bottom: 100px!important;
}

.container.form {
  background: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

form {
  padding: 10px;
}

.remover {
  color: red;
  cursor: pointer;
  vertical-align: super;
}

.img-remover {
  color: red;
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -10px;
}

#preview div {
  position: relative;
  display: inline-block;
}

.add-range {
  cursor: pointer;
  vertical-align: super;
}

.input {
  margin-bottom: 15px;
}

input.number-input, input.number-range {
    width: 56px;
}

#condition4 {
  display: none;
}

#preview {
  position: relative;  
}

#preview div {
  margin-left: 20px;
}

#preview img { 
  max-height: 100px;
 }

#submit {
  float: right;
  margin-bottom: 15px;
}

.loader-container {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  display: none;
  justify-content: center;
  align-items: center;
}

.loader-container .lead {
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
