html, body {
  height: 100%;
  margin: 10px 20px;
  background-color: #d6450e!important;
  color: white!important;
  font-family: 'Cardo', serif !important;
  font-size: 16px !important;
  margin-bottom: 100px!important;
}

.container.form {
  background: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

form {
  padding: 10px;
}

.remover {
  color: red;
  cursor: pointer;
  vertical-align: super;
}

.add-range {
  cursor: pointer;
  vertical-align: super;
}

.input {
  margin-bottom: 15px;
}

input.number-input, input.number-range {
    width: 56px;
}

#condition4 {
  display: none;
}

#preview img { max-height: 100px; }

#submit {
  float: right;
  margin-bottom: 15px;
}
